/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    /*overflow-x: hidden;*/
 }

/* Toggle Styles */

#wrapper {
    margin-top: 56px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}

#wrapper.toggled {
    padding-left: 240px;
}

#sidebar-wrapper {
    z-index: 1000;
    /*position: absolute;*/
    position: fixed;
    left: 240px;
    width: 0;
    /*height: 100%;*/
    height: 95%;
    margin-left: -240px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #302f30;
    color: #ffffff;
    /*min-height: 100vh;*/
}

#wrapper.toggled #sidebar-wrapper {
    width: 240px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 32px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -240px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.sidebar-nav li {
    text-indent: 40px;
    line-height: 44px;
}

#mo-dealership-sidebar-ul li {
    text-indent: 18px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover,
.sidebar-nav li a.active {
    text-decoration: none;
    color: #fff;
    /*background: rgba(255,255,255,0.2);*/
    border-left: 4px solid #ffaa00;
    text-indent: 36px;
}

#mo-dealership-sidebar-ul li a:hover,
#mo-dealership-sidebar-ul li a.active {
    text-indent: 14px;
}

#mo-dealership-sidebar-ul li a:hover .mo-icon-swipe,
#mo-dealership-sidebar-ul li a.active .mo-icon-swipe {
    left: 4px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    /*font-size: 18px;*/
    line-height: 60px;
    text-indent: 20px;
    margin-top: 20px;
}

/** sub-menu **/
.sidebar-nav li ul {
    padding-left: 0;
    list-style-type: none;
    background-color: #201f1f;
}

.sidebar-submenu li {
    text-indent: 56px;
}

.sidebar-submenu li a:hover,
.sidebar-submenu li a.active {
    text-indent: 52px;
}

#mo-dealership-sidebar-ul .sidebar-submenu li {
    text-indent: 30px;
}

#mo-dealership-sidebar-ul .sidebar-submenu li a:hover,
#mo-dealership-sidebar-ul .sidebar-submenu li a.active {
    text-indent: 26px;
}

.sidebar-nav span.mo-icon-swipe {
    margin-right: 20px;
    top: 18px;
    font-size: 10px;
    color: white;
}

.sidebar-nav > .sidebar-brand {
    /*color: #999999;*/
    color: #8a8a8a;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/***** CUSTOM *****/

#mo-dealership-sidebar-ul .mo-icon-swipe {
    display: block;
    width: 50px;
    /*height: 44px;*/
    top: 0px;
    padding-top: 20px;
    margin-right: 2px !important;
}

#mo-dealership-sidebar-ul .mo-icon-swipe:hover {
    color: #ffaa00;
}

/***** CUSTOM *****/

/************** SCROLL BAR **************/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(181, 181, 181, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(181, 181, 181, 0.4);
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 240px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 240px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 32px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
