/** This style sheet using for 404 page **/
#mo-404-wrapper, #mo-error-exception-wrapper{
    color: #ffffff;
}

#mo-404-wrapper #mo-404-txt{
    font-size: 160px;
}

#mo-404-wrapper #mo-not-found-txt{
    font-size: 30px;
}

#mo-404-wrapper #mo-404-desc-txt{
    font-size: 20px;
    line-height: 30px;
}

#mo-404-wrapper #mo-404-btn,
#mo-error-exception-wrapper #mo-404-btn{
    width: 270px;
    color: #333333;
    font-family: Avenir-Bold;
    line-height: 50px;
    font-size: 20px;
    height: 62px;
    border-radius: 100px;
    background-color: #ffaa00;
    outline: none;
}

/** ERROR EXCEPTION **/
#mo-error-exception-wrapper #mo-error-exception-txt{
    font-size: 150px;
}

#mo-error-exception-wrapper #mo-not-found-txt{
    font-size: 28px;
}

#mo-error-exception-wrapper #mo-error-exception-desc-txt{
    font-size: 18px;
    line-height: 30px;
}