html,body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.container, .row {
    height: 100%;
}

input:focus {
    outline: none;
}

.login-bg-img {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url("../images/login/bg-img.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dealership-login-bg-img {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url("../images/mo-admin/login/bg-img.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-bg-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(to bottom, rgba(255, 170, 0, 0.88), rgba(27, 20, 0, 0.75));
    background-image: -moz-linear-gradient(to bottom, rgba(255, 170, 0, 0.88), rgba(27, 20, 0, 0.75));
    background-image: -ms-linear-gradient(to bottom, rgba(255, 170, 0, 0.88), rgba(27, 20, 0, 0.75));
    background-image: -o-linear-gradient(to bottom, rgba(255, 170, 0, 0.88), rgba(27, 20, 0, 0.75));
    background-image: linear-gradient(to bottom, rgba(255, 170, 0, 0.88), rgba(27, 20, 0, 0.75));
    opacity: .8;
}

.dealership-login-bg-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.9));
    background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.9));
    background-image: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.9));
    background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.9));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.9));
    opacity: .8;
}

div.mo-logo-container {

}

img.mo-logo {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.absolute-center {
    /*margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;*/
    /*position: absolute;*/
    top: 50%;
    right: 0;
    left: 0;
    transform: translate(25%, -50%);
}

.absolute-center.is-responsive {
    /*width: 50%;*/
    /*min-width: 200px;
    max-width: 400px;*/
    /*height: 80%;
    padding: 30px;*/
}

/*.form-container {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}*/

form#mo-login-form {
    width: 100%;
    max-width: 362px;
    display: inline-block;
}

form#mo-login-form div {
    width: 100%;
}

form#mo-login-form span.mo-guide-input-email-txt {
    color: #ffffff;
}

form#mo-login-form span,
form#mo-login-form input {
    display: inline-block;
}

form#mo-login-form input#email,
form#mo-login-form input#password,
form#mo-login-form input#new-password,
form#mo-login-form input#confirm-new-password {
    width: 100%;
    max-width: 362px;
    height: 62px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(248, 248, 248, 0.5);
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 24px;
    text-indent: 44px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: solid 1px rgba(248, 248, 248, 0.5);
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.2) inset;
    transition: background-color 5000s ease-in-out 0s;
}

form#mo-login-form span.mo-email,
form#mo-login-form span.mo-password {
    position: absolute;
    height: 62px;
    line-height: 62px;
    padding-left: 25px;
    z-index: 100;
}

form#mo-login-form span.mo-show-password {
    position: absolute;
    float: right;
    height: 62px;
    line-height: 62px;
    right: 25px;
    z-index: 100;
}

form#mo-login-form span.mo-show-password:hover {
    cursor: pointer;
}

form#mo-login-form input#mo-login-btn {
    font-family: Avenir-Bold;
    font-size: 20px;
    width: 100%;
    height: 62px;
    border-radius: 100px;
    background-color: #ffaa00;
    outline: none;
}

form#mo-login-form span.mo-login-error-txt {
    font-size: 14px;
    color: #ffaa00;
}

form#mo-login-form span.mo-forgot-password-txt {
    font-size: 14px;
    color: #b5b5b5;
}

form#mo-login-form span.mo-forgot-password-txt:hover {
    color: #ffaa00;
}

form#mo-login-form input::-webkit-input-placeholder {
    color: #ffffff;
}
form#mo-login-form input::-moz-placeholder {
    color: #ffffff;
}
form#mo-login-form input:-ms-input-placeholder {
    color: #ffffff;
}
form#mo-login-form input:-moz-placeholder {
    color: #ffffff;
}

/*@media (min-width: 1280px) {
    .login-bg-img {
        *//*background: url("../images/login/bg-img.png") center center no-repeat;*//*
    }
}

@media (min-width: 2560px) {
    .login-bg-img {
        background: url("../images/login/bg-img@2x.png") center center no-repeat;
    }
}

@media (min-width: 3840px) {
    .login-bg-img {
        background: url("../images/login/bg-img@3x.png") center center no-repeat;
    }
}*/

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    div.mo-logo-container {
        height: 179px;
    }
    .absolute-center {
        transform: translate(11%, -50%);
    }
    form#mo-login-form {
        max-width: 300px;
    }
    form#mo-login-form input#email,
    form#mo-login-form input#password,
    form#mo-login-form input#new-password,
    form#mo-login-form input#confirm-new-password {
        height: 50px;
        max-width: 300px;
        font-size: 14px;
        padding-left: 8px;
    }
    form#mo-login-form span.mo-email,
    form#mo-login-form span.mo-password {
        height: 50px;
        line-height: 50px;
        padding-left: 18px;
    }
    form#mo-login-form span.mo-email img,
    form#mo-login-form span.mo-password img,
    form#mo-login-form span.mo-show-password img {
        width: 18px;
    }
    form#mo-login-form span.mo-show-password {
        height: 50px;
        line-height: 50px;
        right: 18px;
    }
    form#mo-login-form input#mo-login-btn {
        height: 50px;
        font-size: 15px;
    }
    form#mo-login-form span.mo-forgot-password-txt {
        font-size: 12px;
    }
    form#mo-login-form span.mo-login-error-txt {
        font-size: 12px;
    }
    form#mo-login-form span.mo-guide-input-email-txt {
        font-size: 14px;
    }
}

/* Portrait - iPhone 5 & 5S & small devices (less than 569px) */
@media (max-width: 568px) and (orientation: portrait) {
    div.mo-logo-container {
        height: auto;
    }
}
