html, body {
    font-family: Avenir-Regular;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
}

div.mo-version {
    color: #b5b5b5 !important;
    font-size: 10px;
    /*float: right;*/
    /*margin-right: 5px;*/
    position: absolute;
    right:0;
    bottom :0;
    margin-right: 10px;
}

a, a:link, a:active, a:visited {
    text-decoration: none;
}

@font-face {
    font-family: Avenir-Regular;
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: Avenir-Bold;
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: Avenir-Italic;
    src: url('../fonts/AvenirNextLTPro-It.otf');
}

@font-face {
    font-family: Avenir-Medium;
    src: url('../fonts/AvenirNextLTPro-MediumCn.otf');
}

@font-face {
    font-family: Avenir-Demi;
    src: url('../fonts/AvenirNextLTPro-Demi.otf');
}

.word-break {
    word-break: break-all;
}

.border-radius-0 {
    border-radius: 0px;
}

.border-radius-4 {
    border-radius: 4px;
}

.border-radius-24 {
    border-radius: 24px;
}

.border-radius-100 {
    border-radius: 100px;
}

.vh100 {
    height: 100vh;
}

.green-btn{
    background: #83bc11 !important;
}

.orange-btn{
    background: #ffaa00 !important;
}

.red-btn{
    background: #df3500 !important;
}

.grey-btn{
    background: #a49f9b !important;
}

.silver-btn{
    background: #dadada !important;
}

.dark-gray-btn{
    background: #8c8c8c !important;
}

.percent-h-100 {
    height: 100%;
}

.height-20 {
    height: 20px !important;
}

.height-25 {
    height: 25px;
}

.height-50 {
    height: 50px;
}

.height-70 {
    height: 70px;
}

.height-100 {
    height: 100px;
}

.height-150 {
    height: 150px;
}

.max-height-100 {
    max-height: 100px;
}

.max-height-150 {
    max-height: 150px;
}

.max-height-140 {
    max-height: 140px;
}

.min-height-400 {
    min-height: 400px;
}

.height-200 {
    height: 200px;
}

.height-400 {
    height: 400px;
}

.height-1000 {
    height: 1000px;
}

.scroll-y {
    overflow-y: scroll;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.force-no-margin {
    margin: 0 !important;
}

.force-no-padding {
    padding: 0 !important;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.clear-both {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.vertical-center {
    /*min-height: 100%;*/  /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
}

.align-center {
    left: 0;
    right: 0;
    margin: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.mo-row {
    display: inline-block;
    width: 100%;
}

.mo-row a {
    color: #333333;
    outline: none;
}

.bold {
    font-family: Avenir-Bold;
}

.sm-hide {
    display: none;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}

.pointer-none {
    pointer-events: none;
}

.font-size36 {
    font-size: 36px;
}

.font-size24 {
    font-size: 24px;
}

.font-size20 {
    font-size: 20px;
}

.font-size18 {
    font-size: 18px;
}

.font-size16 {
    font-size: 16px;
}

.font-size14 {
    font-size: 14px !important;
}

.font-size12 {
    font-size: 12px;
}

.font-size11 {
    font-size: 11px;
}

.font-white-color{
    color: #ffffff !important;
}

.font-grey-color {
    color: #b5b5b5;
}

.font-warm-grey-color {
    color: #8a8a8a !important;
}

.font-grey-color-important {
    color: #b5b5b5 !important;
}

.font-orange-color {
    color: #ffaa00 !important;
}

.font-black-color {
    color: #252525;
}

.force-font-black-color {
    color: #252525 !important;
}

.font-white-color {
    color: #ffffff;
}

.font-style-italic {
    font-style: italic;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-900 {
    font-weight: 900;
}

.font-family-bold {
    font-family: Avenir-Bold;
}
.font-family-regular{
    font-family: Avenir-Regular;
}
.font-avenir-demi {
    font-family: Avenir-Demi;
}

.height20 {
    height: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-lr5 {
    padding: 0 5px;
}

.padding-lr10 {
    padding: 0 10px;
}

.padding-tb10 {
    padding: 10px 0px;
}

.padding-tb15 {
    padding: 15px 0px;
}

.padding-tb20 {
    padding: 20px 0px;
}

.padding-l80r200 {
    padding-left: 80px;
    padding-right: 200px;
}

.padding-bottom-64 {
    padding-bottom: 64px;
}

.padding-bottom-54 {
    padding-bottom: 54px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-48 {
    padding-bottom: 48px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-32 {
    padding-bottom: 32px;
}

.padding-bottom-24 {
    padding-bottom: 24px;
}

.padding-bottom-21 {
    padding-bottom: 21px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-18 {
    padding-bottom: 18px;
}

.padding-bottom-17 {
    padding-bottom: 17px;
}

.padding-bottom-16 {
    padding-bottom: 16px;
}

.padding-bottom-11 {
    padding-bottom: 11px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-bottom-6 {
    padding-bottom: 6px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-top-100 {
    padding-top: 100px;
}
.padding-top-80{
    padding-top: 80px;
}
.padding-top-60{
    padding-top: 60px;
}
.padding-top-40 {
    padding-top: 40px;
}

.padding-top-32 {
    padding-top: 32px
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-37 {
    padding-top: 37px;
}

.padding-top-36 {
    padding-top: 36px;
}

.padding-top-28 {
    padding-top: 28px;
}

.padding-top-29 {
    padding-top: 29px;
}

.padding-top-24 {
    padding-top: 24px;
}

.padding-top-22 {
    padding-top: 22px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-18 {
    padding-top: 18px;
}

.padding-top-17 {
    padding-top: 17px;
}

.padding-top-16 {
    padding-top: 16px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-13 {
    padding-top: 13px;
}

.padding-top-12 {
    padding-top: 12px;
}

.padding-top-11 {
    padding-top: 11px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-top-6 {
    padding-top: 6px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-3 {
    padding-top: 3px;
}

.padding-top-4 {
    padding-top: 4px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-14 {
    padding-bottom: 14px;
}

.padding-bottom-13 {
    padding-bottom: 13px;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-6 {
    padding-left: 6px;
}

.padding-left-7 {
    padding-left: 7px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-16 {
    padding-left: 16px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-24 {
    padding-left: 24px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-40 {
    padding-left: 40px;
}

.force-padding-left-40 {
    padding-left: 40px !important;
}

.padding-left-45 {
    padding-left: 45px;
}

.padding-left-9 {
    padding-left: 9px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-16 {
    padding-right: 16px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-right-80 {
    padding-right: 80px;
}

.padding-right-100 {
    padding-right: 100px;
}

.padding-right-120 {
    padding-right: 120px;
}

.padding-right-150 {
    padding-right: 150px;
}

.padding-right-155 {
    padding-right: 155px;
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-top-48 {
    margin-top: 48px !important;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-right-60 {
    margin-right: 60px;
}

.margin-right-24 {
    margin-right: 24px;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-12 {
    margin-right: 12px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-1 {
    margin-right: 1px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.border-top {
    border-top: 1px solid #d8d8d8;
}

.border-bottom {
    border-bottom: 1px solid #d8d8d8;
}

.force-border-bottom {
    border-bottom: 1px solid #d8d8d8 !important;
}

.border-grey-left {
    border-left: 1px solid #dadada;
}

.border {
    border: 1px solid #d8d8d8;
}

.col-sm-2-5, .col-md-2-5 {
    width: 25%;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background-color: #ffaa00;
    color: #ffffff !important;
}

.back-to-top:hover {
    color: #ffffff;
    background-color: #ffb41e;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.bottom-zero {
    bottom: 0;
}

.underline-text {
    text-decoration: underline !important;
}

.yellow-text {
    color: #ffaa00;
}

.indian-red-text {
    color: #cd5c5c;
}

.black-button {
    background-color: #252525 !important;
    color: #ffffff !important;
}

.yellow-button {
    background-color: #ffaa00 !important;
}

.yellow-button-2 {
    background-color: #ffaa00 !important;
    color: #ffffff !important;
    width: 140px;
}

.red-button {
    background-color: red !important;
    color: #ffffff !important;
    width: 140px;
}

.green-button {
    background-color: #86B93C !important;
    color: #ffffff !important;
    width: 140px;
}

.mo-hr{
    margin: 20px 0px;
    border-color: rgba(181, 181, 181, 0.4);
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-family: Avenir-Bold;
    font-size: 14px;
    color: #252525;
    border: 1px solid #cccccc;
    /*background-color: #cccccc;*/
    display: inline-block;
    height: 25px;
    line-height: 25px;
    /*width: 150px;*/
    text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    border: 1px solid #ffaa00;
    color: #ffaa00;
    /*background-color: #ffaa00;*/
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
    padding: 0 5px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .padding-bottom-54 {
        padding-bottom: 24px;
    }
    .padding-bottom-40 {
        padding-bottom: 20px;
    }
    .padding-bottom-32 {
        padding-bottom: 12px;
    }
    .padding-bottom-20 {

    }
    .padding-bottom-18 {
        padding-bottom: 8px;
    }
    .percent-h-100 {
        height: auto;
    }
}

/**=======================================================**/

/** Main Menu Header **/
div.mo-main-header {
    height: 56px;
    background-color: #252525;
    color: #ffffff;
    position: fixed;
    z-index: 500;
    min-height: auto;
}

div.mo-main-header a {
    color: #FFFFFF;
}

div.mo-main-header div.mo-logo-wrapper-menu {
    min-width: 240px;
}

div.mo-logo-wrapper-menu img.mo-logo{
    height: 37px;
    display: inline-block;
}

div.mo-middle-menu img.mo-icon-menu {

}

div.mo-middle-menu img.mo-icon-notification {
    padding-left: 24px;
}

div.mo-user-name-menu {
    padding-right: 15px;
    text-align: right;
}

div.mo-user-name-menu span.mo-user-name-txt {

}

div.mo-user-name-menu img.mo-icon-swipe {
    padding-left: 16px;
}

span.mo-dropdown-menu-wrapper {
    font-size: 14px;
    /*display: none;*/
}

span.mo-sort-stock-list, span.mo-sort-auction-list,
span.mo-sort-live-auction-list {
    display: none;
}

span.mo-dropdown-menu-wrapper .glyphicon-menu-down:before {
    font-size: 10px;
    padding-left: 10px;
}

#mo-transaction-filter {
    border: 1px solid rgba(0,0,0,.15) !important;
}

/** Main Content **/
body {
    background-color: #EEEEEE;
}

div#mo-content-wrapper {
    padding-bottom: 32px;
    font-size: 14px;
}

div#mo-content-wrapper div#mo-content-header {
    font-size: 24px;
    font-weight: bold;
}

div.mo-form-wrapper {
    font-size: 14px;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 4px;
    border-top: solid 2px rgba(181, 181, 181, 0.4);
    margin-bottom: 25px;
}

/*div.mo-form-wrapper */div.mo-form-header {
    color: #ffaa00;
    font-size: 18px;
    /*font-family: Avenir-Bold;*/
    font-weight: 900;
}

label.mo-high-light {
    color: #ffaa00;
    font-size: 18px;
    /*font-family: Avenir-Bold;*/
    font-weight: 900;
}

.heading {
    color: #ffaa00;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

/*div.mo-form-wrapper form#create-customer-form label,
div.mo-form-wrapper form#create-valuation-form label {
    font-family: Avenir-Heavy;
    font-weight: 100;
}*/

label {
    font-family: Avenir-Demi;
    font-weight: 100;
}

div.mo-form-wrapper .form-control::-webkit-input-placeholder { color: #8a8a8a; }
div.mo-form-wrapper .form-control:-moz-placeholder { color: #8a8a8a; }
div.mo-form-wrapper .form-control::-moz-placeholder { color: #8a8a8a; }
div.mo-form-wrapper .form-control:-ms-input-placeholder { color: #8a8a8a; }

div.mo-form-wrapper input,
div.mo-form-wrapper textarea {
    border: solid 1px rgba(181, 181, 181, 0.4);
}

div.mo-form-wrapper select {
    border: solid 1px rgba(181, 181, 181, 0.4);
}

div.mo-form-wrapper form#create-customer-form select option { color: #8a8a8a; }

/*div.mo-form-wrapper select:active,
div.mo-form-wrapper select:focus {
    border: solid 1px rgba(181, 181, 181, 0.4);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(181, 181, 181, 0.4);
    box-shadow: inset 0 1px 1px rgba(181, 181, 181, 0.4);
}*/

div.mo-form-wrapper table th {
    font-family: Avenir-Bold;
}

div.mo-form-wrapper table tr td {
    color: #8a8a8a;
}

div.mo-form-wrapper table tr td label {
    color: #000000;
}

input.mo-btn {
    width: 100px;
    height: 40px;
    border-radius: 24px;
    border: none;
    background-color: #ffaa00;
    outline: none;
    text-transform: uppercase;
    font-family: Avenir-Bold;
    font-size: 13px;
    color: #252525;
}

input.mo-dispute-btn {
    width: 140px;
    height: 30px;
    border-radius: 24px;
    border: none;
    background-color: #ffaa00;
    outline: none;
    text-transform: uppercase;
    font-family: Avenir-Bold;
    font-size: 13px;
    color: #252525;
}

input.mo-btn-black {
    width: 278px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: #252525;
    outline: none;
    text-transform: uppercase;
    font-family: Avenir-Bold;
    font-size: 16px;
    color: #ffffff;
}

input.mo-btn-black:disabled {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #252525;
}

input.mo-btn-complete-valuation {
    width: 170px !important;
    background-color: #dadada;
}

div.mo-btn-loading {
    width: 100px;
    height: 40px;
    border-radius: 24px;
    border: none;
    background-color: #ffaa00;
    outline: none;
    text-transform: uppercase;
    font-family: Avenir-Bold;
    font-size: 13px;
    color: #252525;
}

img.mo-btn-loading {
    max-width: 30px;
    float: left;
    margin-left: 36px;
    margin-top: 5px;
}

div.mo-btn-bg-loading-2 {
    width: 35px;
    height: 35px;
    border-radius: 24px;
    border: none;
    background-color: #ffaa00;
    outline: none;
    text-transform: uppercase;
    font-family: Avenir-Bold;
    font-size: 13px;
    color: #252525;
}

img.mo-btn-loading-2 {
    max-width: 20px;
}

span.mo-vin-checked {
    font-size: 25px;
    color: orange;
    position: absolute;
    top: 30px;
}

div#mo-content-wrapper input#mo-txt-search {
    height: 32px;
    width: 100%;
    border-radius: 24px;
    background-color: #ffffff;
    border: solid 2px rgba(181, 181, 181, 0.4);
    text-indent: 32px;
    color: #b5b5b5;
    outline: none;
}

div#mo-content-wrapper input#mo-wishlist-txt-search {
    height: 32px;
    width: 100%;
    border-radius: 24px;
    background-color: #ffffff;
    border: solid 2px rgba(181, 181, 181, 0.4);
    text-indent: 32px;
    color: #b5b5b5;
    outline: none;
}

div#mo-content-wrapper table#mo-customers-list {
    /*border-top: solid 2px rgba(218, 218, 218, 0.7);*/
    background-color: #ffffff;
    /*padding: 20px;*/
    width: 100% !important;
}

div.mo-block-list table {
    width: 100% !important;
}

table thead {
    color: #252525;
}

table#mo-customers-list td {
    color: #8a8a8a;
}

span.mo-icon-swipe-right {
    float: right;
}

.table>thead>tr>th {
    border-bottom: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 30px;
    border-top: 1px solid rgba(218, 218, 218, 0.5);
}

.table>thead>tr>th {
    border-top: 0;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: center !important;
}

div.mo-pagination-wrapper {
    background-color: #ffffff;
    /*margin-top: -10px;*/
    margin-top: 20px; /*fix for show scroll bar*/
}

div.dataTables_paginate {
    background-color: #ffffff;
    margin-top: -7px !important;
    padding-bottom: 20px;
}

div.mo-round-btn {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #ffaa00;
    z-index: 450;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 50px 50px 0;
    /*margin: 0 70px 100px 0;*/
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

div.mo-round-btn2 {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #ffaa00 !important;
    z-index: 450;
    position: absolute;
    right: -20px;
    bottom: -48px;
    margin: 0 50px 50px 0;
    /*margin: 0 70px 100px 0;*/
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    float: right;
}

.right-0 {
    right: 0 !important;
}

div.mo-round-btn2 a {
    outline: none;
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color: #252525;
    font-size: 16px;
    font-weight: bold;
    text-decoration:none;
}

div.mo-round-btn a {
    outline: none;
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color: #252525;
    font-size: 16px;
    font-weight: bold;
    text-decoration:none;
}

/* CUSTOMER DETAILS */
.btn-mo-customer {
    box-shadow: none;
    border-radius: 0px !important;
}

div#mo-blocks-wrapper div.mo-block,
div#mo-blocks-wrapper div.mo-block-inside {
    height: 120px;
    border-radius: 3px;
    background-color: #8a8a8a;
    color: #ffffff;
}

div#mo-blocks-wrapper div.mo-block.mo-offer-blocks {
    height: 54px;
}

div#mo-blocks-wrapper div.mo-block:hover,
div#mo-blocks-wrapper div.mo-block-inside:hover,
div#mo-blocks-wrapper div.mo-block-active {
    background-color: #ffaa00;
    cursor: pointer;
    color: #252525;
}

div#mo-blocks-wrapper div.mo-block:hover span.mo-arrow-focus,
div#mo-blocks-wrapper div.mo-block-inside:hover span.mo-arrow-focus,
div#mo-blocks-wrapper div.mo-block-active span.mo-arrow-focus {
    display: block;
}

div.mo-block span.mo-block-number {
    font-size: 48px;
    font-family: Avenir-Bold;
    padding-top: 5px;
}

div.mo-block span.mo-block-txt,
div.mo-block-inside span.mo-block-txt {
    font-size: 22px;
    font-family: Avenir-Demi;
}

div.mo-block span.mo-arrow-focus,
div.mo-block-inside span.mo-arrow-focus {
    bottom: -2px;
    display: none;
}

span.mo-block-heading {
    font-family: Avenir-Bold;
    font-size: 22px;
    color: #252525;
}

form#mo-customer-details {
    font-size: 16px;
}

table.table {
    padding: 20px;
    padding-top: 0;
}

/* overwrite glyphicons */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after {
    content: "\e259" !important;
    font-size: 12px !important;
    opacity: 1 !important;
}

table.dataTable thead .sorting_desc:after {
    content: "\e260" !important;
    font-size: 12px !important;
    opacity: 1 !important;
}

table.dataTable .glyphicon-menu-left:before,
table.dataTable .glyphicon-menu-right:before,
table.dataTable .glyphicon-option-vertical:before,
table.dataTable .glyphicon-trash:before {
    opacity: 0.6;
    color: #8a8a8a;
    line-height: 40px;
    cursor: pointer;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    /*top: 9px;*/
    top: 2px;
    /*left: 4px;*/
    left: -20px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: inherit;
    border: none;
    border-radius: 0;
    box-shadow: none;
    line-height: 40px;
    background-color: transparent;
    font-family: 'Glyphicons Halflings';
    content: "\e012";
    opacity: 0.6;
    color: #8a8a8a;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {
    padding-left: 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    background-color: transparent;
    content:"\e011";
    opacity: 0.6;
    color: #8a8a8a;
}

table.dataTable>tbody>tr.child ul li:first-child {/** hidden 1st child **/
    padding-left: 0px;
}

table.dataTable>tbody>tr.child ul li{/** hidden child **/
    float: left;
    border-bottom: none;
    padding: 0 15px;
}

.dtr-title {
    color: #333333;
}

.mo-icon-edit {
    padding-left: 5px;
    color: #ffaa00;
    cursor: pointer;
}

.glyphicon-plus:before {
    /*color: #dddddd;*/
    color: #b5b5b5;
}

div.mo-estimated-cost-wrapper .glyphicon-menu-up:before,
div.mo-estimated-cost-wrapper .glyphicon-menu-down:before {
    color: #b5b5b5;
    float: left;
    padding: 2px 0 0 5px;
    font-size: 14px;
}

.glyphicon-calendar:before {
    color: #ffaa00;
    font-size: 18px;
}

.glyphicon-ban-circle:before {
    font-size: 18px;
}

/* pagination */

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #ffaa00 !important;
    border-color: #ffaa00 !important;
    color: #ffffff !important;
}
/*
ul.pagination li a {
    color: #8a8a8a;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: solid 1px rgba(181, 181, 181, 0.4);
    font-size: 14px;
    outline: none;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #dddddd;color: #8a8a8a;}
*/

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: #8a8a8a;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: solid 1px rgba(181, 181, 181, 0.4);
    font-size: 14px;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
    background-color: #ffaa00;
    color: #ffffff;
    border: 1px solid #ffaa00;
}

ul.pagination li a:hover:not(.active) {background-color: #dddddd;color: #8a8a8a;}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
    font-size: 20px;
    line-height: 1.5;
    border-top: none;
}

table.dataTable {
    width: 100% !important;
}

table.dataTable th {
    line-height: 25px !important;
}

/* SCROLL X */
/*div.dataTables_scrollHeadInner {
    width: 100% !important;
}

div.dataTables_scrollHeadInner:nth-child(1) {
    width: 140% !important;
}

table.dataTable:not(#mo-table-valuations-pending-list) {
    width: 100% !important;
}*/

/* POPUP */
.mo-white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 600px;
    margin: 20px auto;
}

.mo-white-popup .mo-popup-heading {
    font-size: 18px;
    font-family: Avenir-Bold;
    color: #252525;
    padding-left: 10px;
    line-height: 30px;
}

.mo-light-gray-popup {
    position: relative;
    background: #f8f8f8;
    width: auto;
    max-width: 600px;
    margin: 20px auto;
}

.mo-light-gray-popup .mo-popup-heading {
    font-size: 14px;
    font-family: Avenir-Bold;
    color: #252525;
    padding-left: 10px;
    line-height: 30px;
}

.mo-popup-form textarea {
    border: none;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mo-textarea {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mo-form-hr {
    margin: 0 -20px;
    border-color: rgba(181, 181, 181, 0.4);
}

.mo-light-gray-popup .mo-form-hr {
    margin: 0;
    border-color: rgba(181, 181, 181, 0.4);
}

.mo-cancel-btn {
    background-color: #dadada !important;
    margin-right: 10px;
}

.mo-black-btn {
    background-color: #252525 !important;
    color: #ffffff !important;
    width: 150px !important;
}

.mo-popup-form span {
    padding-left: 10px;
}

.mo-popup-form #mo-final-trade-in-price {
    /*padding: 0px !important;*/
}

#mo-put-into-request {
    width: 210px;
    margin-left: 10px;
}

#mo-confirm-cancel-valuation-popup .form-group div {
    padding-left: 10px;
}

/** TEST DRIVES & VALUATIONS **/
.mo-accept-valuate-btn {
    background-color: #ffaa00;
    color: #000000;
    width: 72px;
    height: 24px;
    margin-right: 8px;
    line-height: normal;
    font-weight: bold;
}

.mo-email-btn, .mo-print-btn,
.mo-pending-btn, .mo-requested-btn, .mo-complete-btn,
.mo-approve-price-btn, .mo-approve-valuate-btn, .mo-reject-price-btn,
.mo-permissions-btn, .mo-delete-btn, .mo-test-drives-inprogress-btn,
.mo-test-drives-read-comment-btn{
    width: 72px;
    height: 24px;
    margin-right: 8px;
    line-height: normal;
    font-weight: bold;
}

.mo-email-btn, .mo-print-btn,
.mo-pending-btn, .mo-approve-valuate-btn,
.mo-permissions-btn, .mo-test-drives-inprogress-btn {
    background-color: #ffaa00;
    color: #000000;
}

.mo-test-drives-read-comment-btn{
    color: #ffffff;
    background-color: #252525;
}

.mo-pending-btn, .mo-requested-btn, .mo-complete-btn {
    width: 96px;
}

.mo-approve-valuate-btn,.mo-permissions-btn, .mo-test-drives-inprogress-btn, .mo-test-drives-read-comment-btn {
    width: 150px;
}

.mo-requested-btn, .mo-approve-price-btn, .mo-reject-price-btn, .mo-delete-btn {
    background-color: #df3500;
    color: #ffffff;
    width: 150px;
}

.mo-approve-price-btn {
    background-color: #83bc11;
    color: #ffffff;
    width: 150px;
}

.mo-complete-btn {
    background-color: #83bc11;
    color: #ffffff;
}

.opacity-99 {
    opacity: -99;
}

.verticle-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .xs-hide {
        display: none;
    }

    .xs-show {
        /*display: block;*/
        display: inline-block;
    }

    /** CREATE FORM HEADER **/
    div.mo-form-wrapper div.mo-form-header {
        text-align: center;
    }

    div.mo-middle-menu {
        padding-left: 15px;
    }

    div.mo-main-header div.mo-logo-wrapper-menu {
        min-width: auto;
    }

    div#mo-content-wrapper div#mo-content-header {
        font-size: 20px;
        padding-bottom: 5px;
        text-align: center;
    }

    div.mo-middle-menu img.mo-icon-menu {
        height: 15px;
    }
    div.mo-middle-menu img.mo-icon-notification {
        padding-left: 10px;
    }

    span.mo-user-name-txt {
        font-size: 14px;
    }

    div.mo-user-name-menu img.mo-icon-swipe {
        padding-left: 10px;
    }

    div.mo-search-wrapper {
        padding-bottom: 5px;
    }

    div.mo-search-btn-wrapper {
        text-align: center;
    }

    div.mo-edit-txt {
        text-align: center;
        padding-top: 10px;
    }

    div.mo-round-btn a {
        display:block;
        float:left;
        width:100%;
        padding-top:50%;
        padding-bottom:50%;
        line-height:1em;
        margin-top:-0.5em;
        text-align:center;
        color: #252525;
        font-size: 16px;
        font-weight: bold;
        text-decoration:none;
    }

    .padding-left-20 {
        padding-left: 10px;
    }

    /** for data-table **/
    table.dataTable>tbody>tr.child ul li {
        padding: 0 !important;
        float: none !important;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 320px) {
    div.mo-middle-menu {
        padding-left: 5px;
    }
    div.mo-user-name-menu {
        padding-right: 5px;
    }
}

/** FORM VALIDATION **/
div.mo-form-wrapper form#create-customer-form select{
    -webkit-appearance:none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

div.mo-form-wrapper form#create-customer-form div.form-group{
    position: relative;
}

img.imgicon {
/*    padding-left: 375px;*/
    position:absolute;
    padding-top: 40px;
    right: 30px;
    pointer-events: none;
}

div.mo-error-wrapper {
    display: table;
}

div.mo-error-wrapper img,
div.mo-error-wrapper span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    padding-top: 10px;
    color: #ff0000;
    font-weight: bold;
}

.error {
	color: #ff0000;
}

form#create-valuation-form img.datetime{
    width:20px;
    cursor: pointer;
}

form#create-valuation-form div.form-inline input.form-control{
    width: 90%;
}

form#create-valuation-form div.form-inline img.icon-download{
    padding-top: 3px;
    cursor: pointer;
}

form#create-valuation-form input.mo-btn,
form#mo-mechanical-form input.mo-btn {
    width: 240px;
}

form#create-valuation-form input#mo-request-btn{
    background-color: #252525;
    color: #ffffff;
}

/*div.form-group */select{
    -webkit-appearance:none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

div.dropdown ul.mo-extend-menu-dropdown {
    margin: 0px -140px;
    background-color: #201f1f;
    box-shadow: none;
}

div.dropdown ul.mo-auction-extend-menu-dropdown {
    margin: 0px 5px;
}

div.dropdown ul.mo-extend-menu-dropdown li {
    border-bottom: solid 1px #dadada;
    padding: 5px 0;
}

div.dropdown ul.mo-extend-menu-dropdown li:last-child {
    border-bottom: none;
}

div.dropdown ul.mo-extend-menu-dropdown li a {
    color: #ffffff;
}

div.dropdown ul.mo-extend-menu-dropdown li a:hover {
    color: #ffaa00;
    background-color: transparent;
}

/** PERFORM VALUATION **/
#mo-blocks-wrapper.mo-5-blocks .col-sm-2,
#mo-blocks-wrapper.mo-5-blocks .col-md-2 {
    width: 20%;
}

#mo-blocks-wrapper.mo-5-blocks .col-sm-2-5,
#mo-blocks-wrapper.mo-5-blocks .col-md-2-5 {
    width: 25%;
}

#mo-blocks-wrapper.mo-5-blocks .mo-block,
#mo-blocks-wrapper.mo-5-blocks .mo-block-inside {
    height: 54px;
}

.mo-5-blocks div.mo-block span.mo-block-txt,
.mo-5-blocks div.mo-block-inside span.mo-block-txt {
    font-size: 17px;
    line-height: 54px;
}

.mo-5-blocks div.mo-block span.mo-arrow-focus,
.mo-5-blocks div.mo-block-inside span.mo-arrow-focus {
    bottom: 15px;
}

#mo-vehicle-tittle {
    font-size: 16px;
}

#mo-vehicle-image-upload-form {
    border: 1px solid #d8d8d8;
}

div#mo-vehicle-image-wrapper {
    width: 100%;
    height: 141px;
    cursor: pointer;
}

div#mo-vehicle-image-wrapper label {
    /*margin: 0;
    cursor: pointer;*/
    display: block;
    margin: auto;
}

#mo-vehicle-add-photo img, .mo-vehicle-add-photo img {
    /*border: 1px solid #d8d8d8;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 204px;*/
    max-height: 141px;
}

#mo-vehicle-add-photo, .mo-vehicle-add-photo {
    text-align: center;
}

/* OPTIONS & EXTRAs */
form#mo-create-option-and-extra-form input[type="checkbox"].mo-round-check + label span {
    margin: -5px 20px 0 0;
}

form#mo-create-option-and-extra-form label {
    color: #8a8a8a;
    font-family: Avenir-Regular;
    font-size: 16px;
}

form#mo-create-option-and-extra-form textarea {
    font-size: 16px;
    border: none;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
}

form#mo-create-option-and-extra-form .mo-icon-remove {
    position: absolute;
    right: 0;
    margin-top: -22px;
}

form#mo-create-option-and-extra-form .mo-icon-remove img {
    cursor: pointer;
}

img.icon-add {
    cursor: pointer;
}

span.mo-extras-options {
    border-bottom: 1px solid #d8d8d8;
    color: #252525;
    font-size: 16px;
    padding-left: 7px;
}

form#mo-create-option-and-extra-form input.mo-btn {
    width: 129px;
    height: 48px;
    font-size: 16px;
}

form#mo-model-spec-form div.form-group{
    /*border-bottom: 1px solid #d8d8d8;*/
    margin: 0;
}

form#mo-model-spec-form div.form-group div,
form#create-valuations-summary-form div.form-group div {
    color: #8a8a8a;
    height: 20px;
}

form#mo-model-spec-form input.mo-btn{
    width: 129px;
    height: 40px;
    font-size: 16px;
}

 /** PERFORM VALUATION - EXTERIOR **/
img#mo-vehicle-diagram {
    margin: auto;
    visibility: hidden;
}

.mo-sub-content a {
    outline: none;
}

div.mo-cost-estimate-row div {
    font-size: 16px;
}

div#mo-heading {
    height: 48px;
    background-color: #252525;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

div#page-content-wrapper {
    /*overflow: hidden;*/
}

.mo-expand-hide-label {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b5b5b5;
}

.mo-view-edit-label {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #b5b5b5;
}

.mo-cost-number-input input {
    width: 130px;
}

/* INSPECTION ITEM POPUP */
.mo-edit-inspection-item-popup {
    max-width: 650px;
}

.mo-inspection-upload-image-box {
    width: auto;
    height: auto;
    border-radius: 3.8px;
    border: solid 0.8px #b5b5b5;
    margin-right: 16px;
}

.mo-inspection-upload-image-icon {
    position: relative;
    /*border-radius: 3.8px;*/
    /*border: solid 0.8px #b5b5b5;*/
    margin: auto;
    max-height: 120px;
}

.mo-inspection-upload-image-label {
    position: relative;
    top: 28px;
    left: 10px;
    width: 69px;
    height: 19px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #8a8a8a;
    display: inline-block;
}

input.mo-inspection-popup-textbox {
    border: solid 1px rgba(181, 181, 181, 0.4);
}

select.mo-inspection-popup-selectbox {
    position: absolute;
    border: solid 1px rgba(181, 181, 181, 0.4);
}

select.mo-inspection-popup-selectbox option {
    color: #8a8a8a;
}

label.mo-inspection-input-file-label {
    cursor: pointer !important; /* "hand" cursor */
    width: 120px;
    height: 120px;
    margin: 0;
}

div.mo-dropdown-wrapper {
    position: relative;
    height: 35px;
}

div.mo-dropdown-wrapper span.mo-icon-swipe {
    position: absolute;
    top: 10px;
    right: 0;
    color: #8a8a8a;
    font-size: 14px;
    margin-right: 10px;
    z-index: 10;
}

/*VALUATIONS SUMMARY*/

.overflow-scroll {
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

.disable-overflow-hidden {
    overflow: none !important;
}

div.max-width-688 {
    max-width: 688px;
}

div.ppsr-document {
    font-size: 16px;
    color: #8a8a8a;
}

input[type="button"].ppsr-check {
    width: 120px;
    height: 32px;
    border-radius: 24px;
    background-color: #252525;
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
}

input[type="checkbox"].mo-round-check{
    /*display: none;*/
    width: 0;
    opacity: -99;
}

#option-extra .check-icon span {
    cursor: default !important;
}

input[type="checkbox"].mo-square-check{
    /*display: none;*/
    width: 0;
    opacity: -99;
}

input[type="radio"].mo-round-check{
    /*display: none;*/
    width: 0;
    opacity: -99;
}

input[type="checkbox"].mo-round-check + label span{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url("../images/main/oval-6-copy-5.png") no-repeat;
    cursor: pointer;
    vertical-align: middle;
    margin: -2px 6px 0 0;
}

input[type="checkbox"].mo-square-check + label span{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url("../images/main/icon-normal-checkbox2.png") no-repeat;
    cursor: pointer;
    vertical-align: middle;
    margin: -2px 6px 0 0;
}

input[type="radio"].mo-round-check + label span{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url("../images/main/oval-6-copy-5.png") no-repeat;
    cursor: pointer;
    vertical-align: middle;
    margin: -2px 6px 0 0;
}

input[type="checkbox"].mo-round-check:checked + label span {
    background: url("../images/main/group-4.png") no-repeat;
}

input[type="checkbox"].mo-square-check:checked + label span {
    background: url("../images/main/icon-click-checkbox.png") no-repeat;
}

input[type="radio"].mo-round-check:checked + label span {
    background: url("../images/main/group-4.png") no-repeat;
}

form#create-valuations-summary-form .mo-overall-cost-input {
    max-width: 150px;
}

form#create-valuations-summary-form #mo-overall-cost-wrapper {
    height: 70px;
}

.mo-row span button{
    border: 0px;
    background: transparent;
}

.mo-grey-header-wrapper {
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.3);
}

tr.mo-grey-header-wrapper:first-child th:first-child { border-top-left-radius: 10px; }
tr.mo-grey-header-wrapper:first-child th:last-child { border-top-right-radius: 10px; }
tr.mo-grey-header-wrapper:last-child th:first-child { border-bottom-left-radius: 10px; }
tr.mo-grey-header-wrapper:last-child th:last-child { border-bottom-right-radius: 10px; }
tr.mo-grey-header-wrapper th { border-style: hidden !important; }

input.mo-exterior-input-file {
    width: 10px;
    height: 10px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#mo-prev-next-button {
    position: relative;
    top: -45px;
}

/*#mo-prev-next-button input[type="button"],*/
#mo-prev-next-button button {
    width: 100px;
    height: 40px;
    background-color: #dadada;
    border: none;
    font-family: Avenir-Bold;
}

/*#mo-prev-next-button input[type="button"]:hover,*/
#mo-prev-next-button button:hover {
    background-color: #ffaa00;
}

.mo-prev {
    position: absolute;
    left: -32px;
}

.mo-next {
    position: absolute;
    right: -32px;
}

#mo-prev-next-button .glyphicon-menu-left:before,
#mo-prev-next-button .glyphicon-menu-right:before {
    font-size: 12px;
}

/** INTERIOR-ELECTRONICS **/

div#mo-estimated-cost{
    margin-top: -6px;
    margin-left: -35px;
    width: 150%;
    background-color: #FFFFFF;
}

/*.mo-white-popup{
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 688px;
    margin: 20px auto;
    height: 800px;
}
.mo-white-popup.mo-popup-heading {
    font-size: 18px;
    font-family: Avenir-Bold;
    color: #252525;
    padding-left: 10px;
    line-height: 30px;
}*/

.mo-popup-form textarea {
    border: none;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mo-upload-image-box {
    width: 120px;
    height: 120px;
    border-radius: 3.8px;
    border: solid 0.8px #b5b5b5;
    margin-right: 16px;
}

.mo-upload-image-icon {
    position: relative;
    top: 28px;
    left: 24px;
}

.mo-upload-image-label {
    position: relative;
    top: 28px;
    left: 10px;
    width: 69px;
    height: 19px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #8a8a8a;
    display: inline-block;
}

.mo-popup-textbox {
    width: 416px;
    border: solid 1px rgba(181, 181, 181, 0.4);
}

.mo-estimated-cost-wrapper {
    padding-left: 80px;
    padding-right: 70px;
    width: 70%;
}

#mo-estimated-cost ul li div#mo-heading{
    list-style-type: none;
}

#mo-estimated-cost ul li ul li {
    list-style-type: none;
    padding-left: 40px;
    padding-right: 80px;
    width: 70%;
}

#mo-estimated-cost ul li ul li a{
    color: #252525;
}

/* FIX EXTERIOR */
.mo-sub-content {
    -moz-transition: height .8s;
    -ms-transition: height .8s;
    -o-transition: height .8s;
    -webkit-transition: height .8s;
    transition: height .8s;
}

#mo-empty-holder {
    height: 330px;
}

#mo-empty-item-text-holder {
    height: 200px;
    font-size: 16px;
    color: #b5b5b5;
}

#mo-empty-item-text {
    width: 100%;
    text-align: center;
}

/* VALUATION COMPLETE CHANGE STATUS */
form#mo-popup-changestatus-form img.datetime{
    width:20px;
    cursor: pointer;
}

/* SHOW NOTIFICATION AND OPTION */

.mo-notification {
    background-color: #252525;
    min-width: 250px;
    margin-left: 20px;
    margin-top: 23px;
    border-radius: 10px;
    border: none;
}

.mo-notification-title {
    height: 35px;
}

.mo-highlight {
    color: #ffaa00 !important;
}

#mo-notification-wrapper {
    overflow: auto;
    max-height: 400px;
}

.mo-notification-item {
    padding-left: 20px;
    padding-right: 20px;
}

.mo-notification-hr {
    /*width: 300px;*/
    background-color: #252525;
}

.mo-notification-item h5 {
    font-weight: 900;
    color: #ffffff ;
}

.mo-notification-item p {
    font-size: 13px;
    font-weight: normal;
    color: #b5b5b5;
}

.mo-triangle {
    background-color: transparent;
    min-width: 0px;
    margin-left: 40px;
    margin-top: 3px;
    border: none;
    box-shadow: none;
}

.mo-triangle img {
    text-align: center;
}

.mo-badge {
    position:relative;
}

.mo-badge[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-5px;
    right:-5px;
    color:#000000;
    text-align:center;
    line-height:15px;
    box-shadow:0 0 1px #333;
    background-color: #ffaa00;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-family: Avenir-Bold;
    font-size: 9px;
    outline: none;
}

.mo-dot-icon {
    background-color: #ffaa00;
    outline: none;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}

/* OPTION */
.mo-option{
    background-color: #252525;
    margin-top: 16px;
    /*margin-left: 50px;*/
    border-radius: inherit;
    padding: 0px;
    right: 0;
    margin-left: 40%;

}

.mo-option-item{
   padding-left: 20px;
   color: #ffffff;
   font-size: 14px;
   font-weight: normal;
   line-height: 1.71;
   letter-spacing: -0.1px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.mo-option-item:hover{
    color: #ffaa00 ;
}
.mo-option-hr{
    margin: 0px;
    border-color: rgba(181, 181, 181, 0.4);
}

/* BUTTERFLY DIAGRAM */
.mo-butterfly-diagram {
    background: url('../images/svg/perform_valuation/diagram.svg') no-repeat center;
    background-size:contain;
    display: inline-block;
    position: relative;
}

.mo-butterfly-diagram a.open-popup-link {
    margin: auto;
}

.mo-round-number {
    background-color: #cccccc;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-family: Avenir-Bold;
    font-size: 16px;
    outline: none;
}

.mo-round-number.highlight, .mo-round-number:hover {
    background-color: #ffaa00;
}

* { box-sizing: border-box; }

/* ---- grid ---- */

.grid {
    /*max-width: 1200px;*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */
.grid-item {
    height: 100%;
    float: left;
    /*border: 1px solid #eee;
    background: rgba(255, 170, 0, .2);*/
}

.grid-item:hover {
    /*border: 1px solid #eee;
    background: rgba(255, 170, 0, .2);*/
}

.grid-item--w0 { width:  100%; }
.grid-item--w1 { width:  10%; }
.grid-item--w1-5 { width:  15%; }
.grid-item--w1-75 { width:  17.5%; }
.grid-item--w2 { width:  20%; }
.grid-item--w2-5 { width:  25%; }
.grid-item--w3 { width:  30%; }
.grid-item--w3-5 { width:  35%; }
.grid-item--w5 { width:  50%; }

.grid-item--h2 { height: 20%; }
.grid-item--h4 { height: 40%; }
.grid-item--h5 { height: 50%; }

/*
.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }*/

/* VALIDATE CHECKBOX VALUATION SUMMARY */
form#create-valuations-summary-form div#messages {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    padding-top: 10px;
    color: #ff0000;
    float:left;
}

form#create-valuations-summary-form div#messages span img{
    /*display: table-cell;*/
    float: left;
    padding-right: 15px;
}

/* RECEIVE VEHICLE POPUP */
#mo-receive-vehicle-popup {
    max-width: 700px;
}

/* FIX DATETIME FOR CREATE VALUATION */
.datepicker table tr td span.focused{
    color: #fff ;
    background: #ffaa00;
}

.datepicker table tr td span.focused.active{
    background-color: #ffaa00;
}

.datepicker table tr td span.focused.active:hover{
    color: #fff;
    background: #ffaa00;
}

.datepicker table tr td.today.day{
    color: #fff;
    background: #ffaa00;
}

.datepicker table tr td.today.day:hover{
    background: #ffaa00;
}

.datepicker table tr td.active.day, .datepicker table tr td.active.day:hover{
    background: #302f30;
}

.datepicker table tr td.today.active.day{
    color: #fff;
    background: #ffaa00;
}

/*.datepicker table tr th.datepicker-switch{*/
    /*background: #ebebeb;*/
/*}*/

/* ENTER VIN POPUP */
#mo-enter-vin-popup {
     max-width: 688px;
}

.note-content {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8a8a8a;
}

.vin {
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #83bc11;
}

.ppsr-logo {
    position: absolute;
    bottom: -30px;
}

#get-vin:hover {
    cursor: pointer;
}
/* ENTER VIN POPUP */

/* FIX LAYOUT */
div#mo-content-wrapper{
    padding-bottom: 0px;
}

div#mo-content-wrapper input#mo-btn-search {
    height:32px;
}

div#mo-content-wrapper input#mo-txt-search {
    text-indent: 15px;
    width: 70%;
    float: right;
}

div#mo-content-wrapper input#mo-wishlist-txt-search {
    text-indent: 15px;
    width: 70%;
    float: right;
}

div#mo-content-wrapper input#mo-txt-search.mo-txt-quick-search {
    text-indent: 15px;
    float: right;
    width: 100%;
    margin-bottom: 20px;
}

.datepicker-switch {
    pointer-events: none;
}

/*  HOVER BUTTON */
.mo-round-btn:hover {
    background-color: #cccccc;
}

/*.mo-round-btn a:hover{*/
    /*color: #ffffff;*/
/*}*/

.mo-btn:hover{
    /*background-color: #cccccc;*/
    background-color: #ffb41e;
}

#create-valuation-form #mo-request-btn:hover{
    color: #000000;
    background-color: #cccccc;
}

.mo-round-btn2:hover{
    background-color: #cccccc;
}

/* Fix div tag error message */
#errorToShow{
    margin-left: 15px;
}

/****** start - MOTORONE DEALERSHIP HEADER *****/
#mo-dealership-header .mo-option{
    margin-top: 6px;
}

.mo-search-wrapper { position: relative; }
.mo-search-wrapper .glyphicon-search {
    position: absolute;
    top: 9px;
    right: 12px;
    color: #b5b5b5;
}

/** CREATE DEALERSHIP **/
#mo-dealership-agent-header {
    font-size: 14px;
}

.mo-dealership-function {
    margin-top: 11px;
    margin-left: 16px;
}

.margin-left-42 {
    margin-left: 42px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left--5 {
    margin-left: -5px !important;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-1 {
    margin-left: 1px;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.fa-unlock-alt:before {
    font-size: 17px;
}

.fa-lock:before {
    font-size: 17px;
}

.glyphicon-pencil:before {
    color: #8a8a8a;
}

.fa-unlock-alt:before {
    color: #8a8a8a;
}

.fa-lock:before {
    color: #8a8a8a;
}

/****** end - MOTORONE DEALERSHIP HEADER *****/

/** SPIN AJAX LOADING ICON **/
/* Absolute Center Spinner */
.mo-loading-image {
    position: fixed;
    z-index: 1500;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.mo-loading-image:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.mo-loading-image:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.mo-loading-image:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/** END SPIN AJAX LOADING ICON **/

/** EXTERNAL OFFER GROUP **/
#mo-search-dealer input#mo-txt-search {
    width: 100% !important;
}

/** MOTORONE USER MANAGEMENT **/

/** EXTERNAL OFFER **/

/* external offer filter */
.external-offer-filter-drop-down-menu.dropdown-menu {
    left: inherit;
}

.filter-location, .filter-transmission-type, .filter-variant {
    height: 300px;
    overflow-y: scroll;
    direction: rtl;
    overflow-x: hidden;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
/*.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}*/
/*.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}*/
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.background-grey {
    background-color: #dadada;
}

.background-light-grey {
    background-color: #eeeeee;
}

.background-white {
    background-color: white;
}

.background-transparent {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.background-orange-yellow {
    background-color: #ffaa00;
}

span.fa-filter {
    color: #b5b5b5;
    font-size: 24px;
}

select.external-offer-won-location-selection {
    border-style: none;
}

select.external-offer-won-location-selection option {
    margin: 5px;
    padding: 5px;
}

select.external-offer-won-location-selection option:hover {
    background-color: #ffaa00;
}

.word-spacing--2 {
    word-spacing: -2px;
}

.width-100-percent {
    width: 100%;
}

.width-8-percent {
    width: 8%;
}

.width-10-percent {
    width: 10%;
}

.width-15-percent {
    width: 15%;
}

.max-width-1 {
    max-width: 1px;
}

.max-width-200 {
    max-width: 200px;
}

.max-width-190 {
    max-width: 190px;
}

.max-width-100-percent {
    max-width: 100%;
}

.width-20-percent {
    width: 20%;
}
.width-20-percent-force{
    width: 20%;
    word-break: break-all;
}
.width-100-percent-force {
    width: 100% !important;
}

.width-50 {
    width: 50px;
}

.width-80 {
    width: 80px !important;
}

.width-150 {
    width: 150px !important;
}

.width-180 {
    width: 180px !important;
}

.width-200{
    width: 200px !important;
}

.width-210 {
    width: 210px !important;
}

.width-300 {
    width: 300px !important;
}

.width-400 {
    width: 400px !important;
}

.width-700{
    width: 700px !important;
}

.mo-external-offer-remaining-clock {
    font-size: 31px;
    color: #dadada;
    position: relative;
    top: -5px;
}

.time-remaining {
    color: #df3500;
    text-transform: lowercase;
}

.font-lowercase {
    text-transform: lowercase;
}

.font-family-light {
    font-family: Avenir-Regular !important;
}

.font-weight-light {
    font-weight: 100;
}

.font-weight-normal {
    font-weight: normal;
}

.list-style-type-none {
    list-style-type:none;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

ul.padding-element-7 li {
    padding-bottom: 7px
}

ul.element-font-bold li {
    font-weight: bold;
    height: 29px;
}

input.mo-btn-green {
    background-color: #8cc832;
    color: #252525;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    border-color: #8cc832 !important;
    width: 112px;
    height: 32px;
    cursor: pointer;
}

input.mo-btn-red {
    background-color: #df3500;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    border-color: #df3500 !important;
    width: 112px;
    height: 32px;
    cursor: pointer;
}

input.mo-btn-black2 {
    background-color: #252525;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    border-color: #252525 !important;
    width: 112px;
    height: 32px;
    cursor: pointer;
}

input.mo-btn-yellow {
    background-color: #ffaa00;
    color: #252525;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    border-color: #ffaa00 !important;
    width: 112px;
    height: 32px;
    cursor: pointer;
}

.mo-offers-list {
    font-size: 16px;
}

.mo-condition-report{
    display: none;
}

.mo-offer-info div,
.mo-offer-condition-report div {
    height: 30px;
}

.mo-offer-buttons div {
    height: 38px;
}

/** EXTERNAL OFFER **/

.position-relative {
    position: relative;
}

.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-divider {
    border-bottom: 1px solid #dadada;
    padding: 0;
}

.no-border {
    border: none !important;
}

.border-right-white {
    border-right: 1px solid #ffffff !important;
}

.border-right-grey {
    border-right: 1px solid #d8d8d8 !important;
}

.border-top-grey {
    border-top: 1px solid #d8d8d8 !important;
}

.border-top-right-bottom-grey {
    border-top: 1px solid #d8d8d8 !important;
    border-right: 1px solid #d8d8d8 !important;
    border-bottom: 1px solid #d8d8d8 !important;
}

.external-offer-filter-icon {
    position: relative;
    /*top: -1px;*/
    bottom: -2px;
    color: #ffaa00 !important;
}

span.user-search-contact {
    position: absolute;
    top: 34px;
    right: 30px;
    color: #dadada;
}

span.mo-user-password {
    position: absolute;
    top: 31px;
    right: 24px;
    color: #b5b5b5;
    font-size: 21px;
}

span.mo-user-show-password {
    position: absolute;
    top: 31px;
    right: 24px;
    color: #b5b5b5;
    font-size: 21px;
}

.mo-user-blocks-wrapper .mo-green-block {
    background-color: #83bc11 !important;
}

.mo-user-blocks-wrapper .mo-grey-block {
    background-color: #8a8a8a !important;
}

.mo-user-blocks-wrapper .mo-black-block {
    background-color: #252525 !important;
}

.mo-user-blocks-wrapper .mo-yellow-block {
    background-color: #ffaa00 !important;
}

.mo-user-blocks-wrapper .mo-green-block:hover,
.mo-user-blocks-wrapper .mo-grey-block:hover,
.mo-user-blocks-wrapper .mo-black-block:hover,
.mo-user-blocks-wrapper .mo-yellow-block:hover,
.mo-user-blocks-wrapper .mo-block-active {
    color: #ffffff !important;
}

.ui-autocomplete-loading {
    background: white url("../images/main/ajax-loader.gif") no-repeat 98% 50%;
    background-size: 16px;
}

/* ADD NEW USER */

.mo-category-list label.mo-category{
    width: 90%;
    color: #8a8a8a;
}

.mo-category-list input[type="checkbox"].mo-round-check + label span{
    float: right;
}

.text-first-letter::first-letter {
    text-transform: uppercase;
}

/*TOGGLE PASSWORD AND QUICK CODE*/

span.mo-profile-password {
    position: absolute;
    top: 31px;
    right: 24px;
    color: #b5b5b5;
    font-size: 21px;
}

span.mo-profile-show-password {
    position: absolute;
    top: 31px;
    right: 24px;
    color: #b5b5b5;
    font-size: 21px;
}

/** EXTERNAL OFFER GROUP **/
#mo-dealer-locations-error {
    width: 100%;
}
/** EXTERNAL OFFER GROUP **/

/** Edit Permission **/

.mo-edit-permission label{
    color: #8a8a8a;
}

.mo-edit-permission-name input#permission-name {
    width: 70%;
}

.mo-edit-permission-description input{
    width: 100%;
}

.mo-valuation-version-row label{
    color: #252525;
}

.mo-loading-wrapper, .mo-loading-three-dot-wrapper {
    display: none;
}

img.mo-loading-icon {
    height: 25px;
    display: none;
}

img.mo-loading-three-dot-icon {
    height: 50px;
    display: none;
}

/**** start TRADING - STOCK LIST ****/
.mo-vehicle-wrapper {
    border-radius: 4px;
    background-color: #ffffff;
    color: #8a8a8a;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.mo-vehicle-wrapper .mo-image-wrapper {
    height: 221px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.mo-vehicle-wrapper .mo-image-wrapper label {
    display: block;
    margin: auto;
}

.mo-vehicle-wrapper .mo-image-wrapper img {
    max-height: 221px;
}

.mo-vehicle-wrapper .font-weight-bold {
    color: #333333;
}

.mo-vehicle-wrapper .yellow-text {
    color: #ffaa00;
}

.mo-vehicle-wrapper .mo-content-wrapper .glyphicon-option-horizontal:before {
    font-size: 25px;
}

.mo-content-wrapper a {
    color: inherit;
}

.mo-content-wrapper .mo-vehicle-name {
    height: 76px;
}

/** AUCTION POPUP **/
.mo-white-popup#mo-send-to-auction-popup {
    max-width: 800px;
}

.mo-popup-form#mo-send-to-auction-form span {
    padding-left: 0;
}

#mo-auction-image-wrapper{
    border: 1px solid #b5b5b5;/** TODO: remove it later **/
    height: 191px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#mo-auction-image-wrapper label{
    display: block;
    margin: auto;
}

.glyphicon-time:before {
    color: #ffaa00;
    font-size: 18px;
}

#mo-send-to-auction-popup .glyphicon-calendar:before, .glyphicon-time:before {
    padding-left: 10px;
}

/** FILTER **/
.mo-dropdown-menu-wrapper .dropdown-menu {
    top: 36px;
    left: 20px;
    width: 372px;
    border: 0;
    z-index: 999;
}

#mo-sort-wrapper .glyphicon-sort-by-alphabet-alt,
#mo-sort-wrapper .glyphicon-ok {
    display: none;
}

#mo-sort-wrapper .glyphicon-sort-by-alphabet-alt:hover,
#mo-sort-wrapper .glyphicon-sort-by-alphabet:hover,
#mo-sort-wrapper .glyphicon-ok:before {
    color: #ffaa00;
}

#mo-filter-wrapper .glyphicon-triangle-top:before,
#mo-sort-wrapper .glyphicon-triangle-top:before {
    position: absolute;
    top: -29px;
    right: 238px;
    font-size: 18px;
}

#mo-sort-wrapper .glyphicon-triangle-top:before {
    right: 134px;
}

#mo-sort-wrapper .mo-sort-by {
    color: inherit;
}

.mo-dropdown-menu-wrapper .dropdown-menu .dropdown-item,
.dropdown-menu .dropdown-divider {
    color: #8a8a8a;
    font-size: 14px;
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
    padding: 14px 0;
}

.mo-dropdown-menu-wrapper .dropdown-item .glyphicon-menu-right:before {
    color: #B8B8B8;
}

.mo-dropdown-menu-wrapper .dropdown-menu .dropdown-header {
    color: #252525;
}

.mo-dropdown-menu-wrapper .dropdown-menu .dropdown-divider {
    border-bottom: 1px solid #dadada;
    padding: 0;
}

.dropdown-item.dropdown-buttons {
    padding: 0 !important;
    color: #8a8a8a;
}

.dropdown-item.dropdown-buttons input[type="button"] {
    height: 48px;
    border-radius: 0;
    border-right: 1px solid #ffffff;
}

.dropdown-item.dropdown-buttons input[type="button"]:last-child {
    border: none;
}

.dropdown-item.dropdown-buttons input[type="button"]:hover {
    color: #333333;
    font-weight: bold;
    background-color: #ffaa00;
}

.mo-dropdown-menu-wrapper .dropdown-submenu {
    position:relative;
}

.mo-dropdown-menu-wrapper .dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 270px;
    /*display:block;*/
}

.mo-dropdown-menu-wrapper .dropdown-submenu>.transaction-dropdown-menu {
    margin-top:-200px;
}

.mo-dropdown-menu-wrapper .dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.mo-dropdown-menu-wrapper .dropdown-submenu:after {
    content: " ";
    display: block;
    clear: both;
}

#mo-2nd-level {
    height: 500px;
    width: 540px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
}

#mo-2nd-level .menu-item {
    width: 270px;
    direction: ltr;
    left: -270px;
}

#mo-3rd-level {
    direction: rtl;
}

#mo-3rd-level .menu-item {
    left: 0 !important;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
}

.slide-txt-display {
    border:none !important;
    color:#ffaa00;
    font-weight:bold;
}

.slider-range {
    width: 100% !important;
    /*display: block;*/
}

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #f6931f !important;
    background-color: #ffaa00 !important;
    outline: none !important;
}

#mo-make-model-name {
    background-color: #dddddd;
    height: 48px;
    cursor: default;
}

#mo-vehicle-img {
    max-height: 189px;
}

/**** end TRADING - STOCK LIST ****/

/** Auction list **/

#mo-pre-bid-popup, #mo-buy-now-popup {
    max-width: 372px;
}

.cancel-but-wrapper {
    border-right: 1px solid #dedede;
}

.data-block {
    display: none;
}

/*.status-text {
    margin-left: 8px;
    float: left;
    margin-top: 4px;
}*/

.mo-watch-icon {
    top: 12px;
    left: 16px;
}

.watch-light {
    background: url("../images/svg/icon-normal-eye-light.svg") 0 0;
    width: 24px;
    height: 24px;
    display: block;
}

.watch-dim {
    background: url("../images/svg/icon-normal-eye-dim.svg") 0 0;
    width: 24px;
    height: 24px;
    display: block;
}

.mo-status-section {
    bottom: 0;
    width: 100%;
    height: 29px;
    background-color: #252525;
}

.mo-status-section a {
    color: inherit;
}

.mo-status-pending {
    background-image: url("../images/svg/orange-rec.svg");
    background-repeat: no-repeat;
}

.mo-status-approved {
    background-image: url("../images/svg/green-rec.svg");
    background-repeat: no-repeat;
}

.mo-status-rejected {
    background-image: url("../images/svg/red-rec.svg");
    background-repeat: no-repeat;
}

.glyphicon-info-sign:before {
    font-size: 18px;
}

.tooltip-inner {
    max-width: 100%;
    /* If max-width does not work, try using width instead */
    width: 100%;
    /*background-color: #ffaa00;*/
}

.mo-stock-arrow-focus.mo-arrow-focus {
    bottom: 2px !important;
}

.glyphicon-triangle-top:before {
    color: #EEEEEE;
    font-size: 22px;
}

.vehicle-button {
    width: 175px;
    height: 48px;
}

.vehicle-btn-active {
    background-color: #ffaa00;
    line-height: 50px;
}

.vehicle-btn-inactive {
    background-color: #ffffff;
    border: solid 2px #252525;
    line-height: 45px;
}

/**** end Auction list ****/

/**** start AUCTION SESSION ****/
.col-sm-1-4 {
    width: 14%;
}

#mo-auction-ad-hoc-form div.alert-warning{
    background-color: #f2dede;
    border-color: #ebccd1;

}

/*#star-time-picker span.glyphicon-time{
    padding-right: 15px;
}*/

#ad-hoc-time-picker span.input-group-addon{
    padding-left: 1%;
}

#start-time-picker span.input-group-addon{
    padding-left: 1%;
}

img.mo-auction-start-time.imgicon {
    right: 25px;
}

/**** start STOCK - VEHICLE DETAILS ****/
div#mo-blocks-wrapper div.mo-block-border-bottom {
    font-size: 16px;
    font-family: Avenir-Bold;
    border-bottom: 2px solid #ffffff;
}

div#mo-blocks-wrapper div.mo-block-border-bottom:hover,
div#mo-blocks-wrapper div.mo-block-border-bottom-active {
    border-bottom: 2px solid #ffaa00;
}

img.mo-auction-time.imgicon {
    right: 15px;
}

#bx-pager img {
    height: 100px;
}

#mo-send-to-auction-vehicle-slider .bx-viewport {
    max-height: 350px;
}

.mo-slider-wrapper .bx-wrapper,
.mo-slider-wrapper .bx-viewport {
    min-height: 400px;
}

div.mo-add-photo-wrapper {
    height: 100px !important;
    background-color: #ffffff;
}

img.mo-add-photo {
    max-height: 70px !important;
}

/** overwrite lightslider **/
.lightSlider.lsGrab > * {
    cursor: pointer !important;
}

.lightSlider.lsGrabbing > * {
    cursor: pointer !important;
}

#bx-pager a {
    width: auto !important;
    position: relative;
}
/** overwrite lightslider **/

.mo-icon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

#bx-pager .glyphicon-trash:before {
    content: "\e020";
    color: #ffaa00;
    margin-left: 5px;
}

.mo-icon-loading {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.mo-icon-loading img {
    height: 20px !important;
    left: 0;
    right: 0;
    margin: auto;
}

.mo-featured-photo {
    display: none;
    position: absolute;
    top: 30px;
    /*width: 100%;*/
    text-align: center;
}

.mo-featured-photo .glyphicon-picture:before {
    font-size: 25px;
    color: rgb(197, 132, 0);
}

.mo-featured-photo .glyphicon-picture:hover::before {
    color: #ffaa00;
}

.mo-featured-photo .mo-feature-txt {
    color: rgb(197, 132, 0);
}

.mo-upload-photo-form {
    margin-left: 40%;
}

.mo-add-featured-photo-wrapper {
    background-color: white;
    height: 100px;
}

.mo-edited-icon-wrapper {
    width: 55px;
    height: 55px;
    opacity: 0.5;
    background-color: #dadada;
    float: right;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mo-edited-icon-wrapper .glyphicon-edit:before {
    font-size: 40px;
    margin-left: 8px;
    color: #FFFFFF;
}

#custom-handle {
    width: 2em;
    height: 1.2em;
    top: 50%;
    margin-top: -.6em;
    text-align: center;
    line-height: 1.2em;
}

.ui-dialog {
    font-family: Avenir-Regular !important;
}

.ui-widget button {
    font-family: Avenir-Regular !important;
}

.fixed-dialog{
    position: fixed !important;
}
/**** end STOCK - VEHICLE DETAILS ****/

/**** start REQUEST LIST ****/

.box-shadow-none {
    box-shadow: none !important;
}

.approve-request-list-popup {
    max-width: 688px;
}

.reject-request-list-popup {
    max-width: 688px;
}

/**** end REQUEST LIST ****/

/**** start LIVE AUCTION ****/

.auction-max-bid-popup {
    max-width: 372px;
    /*height: 320px;*/
}

#mo-auction-max-bid-form input[type="button"], #mo-auction-quick-bid-form input[type="button"] {
    height: 48px;
    border-radius: 0;
    border: none;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    background-color: #f8f8f8;
}

#mo-auction-max-bid-form input[type="button"]:hover, #mo-auction-quick-bid-form input[type="button"]:hover {
    background-color: #ffaa00;
}

#mo-auction-max-bid-form input[type="submit"], #mo-auction-quick-bid-form input[type="submit"] {
    height: 48px;
    border-radius: 0;
    border: none;
    border-top: 1px solid #dadada;
    background-color: #f8f8f8;
}

#mo-auction-max-bid-form input[type="submit"]:hover, #mo-auction-quick-bid-form input[type="submit"]:hover {
    background-color: #ffaa00;
}

#mo-auction-max-bid-form input#live-auction-max-bid-input {
    width: 100%;
    height: 40px;
    border: 1px solid #dadada;
    font-weight: bold;
    font-size: 25px;
}

.live-auction-timer {
    position: relative;
    top: -10px;
    color: #ffaa00;
}

.live-auction-trophy {
    color: #a49f9b;
    font-size: 24px;
}

.live-auction-trophy.win {
    color: #FFD700;
}

/**** end LIVE AUCTION ****/

#search-icon {
    position: absolute;
    top: 11px;
    right: 15px;
    color: #dadada;
}

.name_col {
    float: left;
}

/*** start INTERACTION ***/
.interaction-comment {
    
}

.datetimepicker table tr td span.focused{
    color: #fff ;
    background: #ffaa00;
}

.datetimepicker table tr td span.focused.active{
    background-color: #ffaa00;
}

.datetimepicker table tr td span.focused.active:hover{
    color: #fff;
    background: #ffaa00;
}

.datetimepicker table tr td.today.day{
    color: #fff;
    background: #ffaa00;
}

.datetimepicker table tr td.today.day:hover{
    background: #ffaa00;
}

.datetimepicker table tr td.active.day, .datetimepicker table tr td.active.day:hover{
    background: #302f30;
}

.datetimepicker table tr td.today.active.day{
    color: #fff;
    background: #ffaa00;
}

.glyphicon.glyphicon-calendar.interaction-calendar{
    right: 10px;
}

/** start WISHLIST **/
button.multiselect.dropdown-toggle.btn.btn-default{
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
}

select#wishlist-model, select#wishlist-variant{
    height: 34px;
    background-color: #ffffff;
}

/*div.mo-form-wrapper input, div.mo-form-wrapper textarea{*/
    /*border: none;*/
/*}*/
span.mo-wishlist-range input{
    border: none;
}
span.multiselect-selected-text{
    float: left;
}
b.caret{
    float:right;
    margin-top: 7px;
}
button.multiselect.dropdown-toggle.btn.btn-default{
    border-radius: 0px;
}

/** start DISPUTE **/
input.mo-dispute-input,
input.mo-original-dispute-input,
input.mo-additional-dispute-input {
    /*width: 64px;*/
    height: 32px;
    border: solid 1px rgba(181, 181, 181, 0.4) !important;
}

#mo-dispute-cost-variance {
    display: none;
}

span.mo-dispute-note {
    border-bottom: 1px solid #d8d8d8;
    font-size: 16px;
    padding-left: 7px;
}

span.mo-dispute-note .mo-icon-remove,
span.mo-dispute-note .mo-icon-ok {
    cursor: pointer;
    position: absolute;
    right: 0;
    /*margin-top: 5px;*/
}

span.mo-dispute-note .mo-icon-ok {
    display: none;
}

textarea.mo-dispute-txt {
    color: #b5b5b5;
    border: none !important;
    resize: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0;
    background-color: transparent !important;
}

span#mo-plus-icon {
    cursor: pointer;
}

span.mo-dispute-note .glyphicon-remove:before,
span.mo-dispute-note .glyphicon-ok:before {
    color: #b5b5b5;
}

.mo-dispute-btn-wrapper{
    position: relative;
    height: 40px;
}

.mo-dispute-view {
    position: absolute;
}

/******************** Arriving Vehicle ********************/
/*** Customize Bootstrap Toggle ***/
div.toggle.btn.btn-primary, div.toggle.btn.btn-default{
    min-width: 50px;
    min-height: 25px;
    border-color: #8c8c8c;
}

.btn-primary, .btn-primary:hover{
    background-color: #44db5e;
}
.btn-default:hover{
    background-color: #FFFFFF;
}
.btn{
    border-radius: 15px;
}

span.toggle-handle{
    width: 50%;
}
/*** End Customize Bootstrap Toggle ***/

.mo-dispute-hr{
    margin-bottom: 10px;
    margin-top: 10px;
}
#mo-dispute-estimated-reconditioning-cost label.mo-dispute-total-cost{
    padding-right: 10%;
}
#mo-dispute-estimated-reconditioning-cost span.mo-dispute-item, span.mo-dispute-price, span.mo-dispute-info
{
    padding-left: 3%;
    color: #8a8a8a;
}
#mo-dispute-estimated-reconditioning-cost span.mo-dispute-price,
#mo-dispute-estimated-reconditioning-cost span.mo-dispute-total-all
{
    padding-right: 10%;
}

#inspect-item {
    min-height: 300px;
}

#inspect-item .mo-arriving-vehicle-item, span.mo-arriving-vehicle-info
{
    padding-left: 3%;
    color: #8a8a8a;
}

#inspect-item .section-item
{
    padding-left: 6%;
}

/*#mo-arriving-vehicle-estimated-damage-list span.mo-arriving-vehicle-price
{
    padding-right: 5%;
}*/

#inspect-item span.mo-arriving-vehicle-total-all{
    padding-right: 0px;
}

input#mo-arriving-vehicle-estimated-accept, input#mo-arriving-vehicle-estimated-log-dispute,
input#mo-dispute-options-extras-accept, input#mo-dispute-options-extras-log-dispute
{
    width: 150px;
}

input#mo-arriving-vehicle-estimated-log-dispute, input#mo-dispute-options-extras-log-dispute{
    background-color: #df3500;
    color: #FFFFFF;
}

.log-btn{
    background-color: #df3500;
    color: #FFFFFF !important;
    width: 150px;
    border-radius: 24px;
    text-transform: uppercase;
    font-family: Avenir-Bold;
    font-size: 13px;
    display: inline-block;
    padding: 11px;
}

input.mo-more-info,
input.mo-inspect,
input.mo-close-info
{
    border-radius: 0px;
    height: 30px;
}

.mo-inspect {
    height: 30px;
    width: 100px;
    line-height: 30px;
}

input.mo-close-info{
    background-color: #dadada;
}

#mo-arriving-vehicle-details, .mo-close-info {
    display: none;
}

/*#mo-arriving-vehicle-details label.mo-arriving-vehicle-total-cost{
    padding-right: 10%;
}
#mo-arriving-vehicle-details span.mo-arriving-vehicle-item{
    padding-left: 10%;
}*/

/************************** Dispute Centre ****************************/
div#mo-blocks-wrapper div.mo-text,
div#mo-blocks-wrapper div.mo-text-inside
{
    color: #252525;
}
div#mo-blocks-wrapper div.mo-text:hover,
div#mo-blocks-wrapper div.mo-text-inside:hover,
div#mo-blocks-wrapper div.mo-text-active {
    
    cursor: pointer;
    color: #ffaa00;
}

/************************** Accouting Documents ****************************/
#mo-accounting-document-info input#mo-accounting-buying-view-request,
#mo-accounting-document-info input#mo-accounting-buying-view-solution,
#mo-accounting-document-info input#mo-accounting-selling-ship-vehicle,
#mo-accounting-document-info input#mo-accounting-selling-view-debit-note,
#mo-accounting-document-info input#mo-accounting-selling-view-resolution
{
    width: 150px;
    border-radius: 0px;
}
#mo-accounting-document-info input#mo-accounting-selling-view-debit-note{
    background-color: #8cc832;
}
#mo-accounting-document-buying-list span.mo-buying-upload-payment-receipt a,
#mo-accounting-document-buying-list span.mo-buying-request-payment a,
#mo-accounting-document-buying-list span.mo-buying-upload-invoice a,
#mo-accounting-document-selling-list span.mo-selling-request-payment a,
#mo-accounting-document-selling-list span.mo-selling-upload-invoice a
{
    color: #ffaa00;
    text-decoration: underline;

}

/************************** Admin -  Dispute Centre ****************************/

.mo-dispute-image-wrapper .image-inner {
    border: solid 0.9px #dadada;
    overflow: hidden;
}

.dispute_btn a {
    width: 86px;
    height: 32px;
    line-height: 30px;
    margin-top: 57px;
}

/**************************** MO Admin - Role *****************************/
.mo-category-list input[type="checkbox"].mo-square-check + label span{
    float: right;
}

/**************************** DEALERSHIP TEST DRIVE ****************************/
#slider_vehicle_rating.ui-slider-horizontal {
    height: 0px !important;
}

#slider_vehicle_rating.ui-slider-horizontal .ui-slider-handle {
    top: -10px !important;
}

#slider_mo_rating.ui-slider-horizontal {
    height: 0px !important;
}

#slider_mo_rating.ui-slider-horizontal .ui-slider-handle {
    top: -10px !important;
}

.ui-slider-handle {
    background-color: orange !important;
}
/* mo rating */
#slider_mo_rating label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    bottom: 10px;
}

/* below is not necessary, just for style */
#slider_mo_rating {
    width: 90%;
    margin: 2em auto;
}
/* end mo rating */

/* vehicle rating */
#slider_vehicle_rating label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    bottom: 10px;
}

/* below is not necessary, just for style */
#slider_vehicle_rating {
    width: 90%;
    margin: 2em auto;
}
/* end vehicle rating */

#mo-test-drives-add-vehicle, #mo-test-drive-sign{
    width: 240px;
    height: 40px;
    border-radius: 100px;
}

/*#mo-test-drive-add-vehicle-form div#mo-vehicle-image-wrapper img.mo-front-license{
    float: right;
}*/

#mo-test-drive-add-vehicle-form div#mo-front-license,
#mo-test-drive-add-vehicle-form div#mo-back-license
{
    border-radius: 10px;
    border: dashed 3px #b5b5b5;
    height: 150px;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color: #b5b5b5;
    line-height: 150px;
}

@media (max-width: 320px) {
    #mo-test-drive-add-vehicle-form div#mo-front-license,
    #mo-test-drive-add-vehicle-form div#mo-back-license
    {
        width: 110px;
    }
}

#mo-test-drive-add-vehicle-form img#mo-front-license {
    margin-right: 20px;
}

.mo-complete-filter-date input#test-drive-complete-date-range,
.mo-complete-filter-date input#test-drive-complete-to{
    height: 32px;
    border-radius: 24px;
    background-color: #ffffff;
    border: solid 2px rgba(181, 181, 181, 0.4);
    text-indent: 15px;
    color: #b5b5b5;
    outline: none;
}
/*div#signature.kbw-signature{*/
    /*float: left;*/
    /*width: 100%;*/
    /*height: 300px;*/
/*}*/
button#mo-test-drive-sign{
    background-color: #ffaa00;
}

.data_code {
    width: 60px;
}

.checked-checkbox {
    background: url("../images/svg/checked-checkbox.svg") no-repeat 0 0;
}

.unchecked-checkbox {
    background: url("../images/svg/uncheck-checkbox.svg") no-repeat 0 0;
}

.checkbox-item {
    width: 24px;
    height: 24px;
}

#location_table td, #location_table th {
    padding-bottom: 20px;
    padding-right: 20px;
}

/**************** CSS-TRANSACTION ******************/
.mo-header{
    color: #252525;
    font-size: 18px;
    font-family: Avenir-Bold;
    font-weight: 900;
}
input.mo-action-button, input.mo-view-button,
input.mo-upload-download-button{
    border-radius: 0px;
    font-size: 10px;
    height: 25px;
}
input.mo-mark-as-paid-button{
    width: 125px;
    height: 30px;
}
.mo-payout-amount {
    color: #ffaa00;
}
div#mo-block-transaction-current #mo-blocks-wrapper .mo-offer-blocks{
    height: 50px;
}
div#mo-transaction-tab-awaiting-payment span.mo-block-txt,
div#mo-transaction-tab-all span.mo-block-txt,
div#mo-transaction-tab-organise-transport span.mo-block-txt,
div#mo-transaction-tab-payouts span.mo-block-txt
{
    font-size: 20px;
}

/** TRANSACTION **/
.mo-transaction-btn.mo-btn-yellow {
    width: 150px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
/** TRANSACTION **/


/******** TRANSACTION SETTING FEES *******/
/*
#mo-transaction-setting-fees .table-setting-fees{
    height: 500px;
    overflow: scroll;
}

#mo-transaction-setting-fees .table-setting-fees .table-setting-fees-list tbody tr td:hover {
    background-color: #FFFFFF;
    color: #0b0b0b;
}

.table-setting-fees-list table {
    width: 100%;
}
.table-setting-fees-list td {
    width: 10%;
    position: relative;
    text-align: center;
}
.table-setting-fees-list td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

*/

.table-setting-fees-wraper {
    overflow: scroll;
}

.table-setting-fees-list td .content {
    line-height: 15px;
    text-align: center;
    width: 60px;
    font-weight: bold;
    color: black;
}

.table-setting-fees-list td .content-number {
    text-align: center;
}

.table-setting-fees-list {

}
.table-setting-fees-list tbody{
}




/*************** DEALERSHIP DASHBOARD **************/

#mo-dashboard-overview button#dashboard-location,
#mo-dashboard-overview button#dashboard-show-date{
    border-radius: 0px;
    width: 100%;
}

#mo-dashboard-overview #mo-blocks-wrapper span.mo-block-txt{
    font-size: 11px;
}
#mo-dashboard-overview #mo-blocks-wrapper .mo-block:hover,
#mo-dashboard-overview #mo-blocks-wrapper span.mo-block-txt:hover
{
    cursor: default;
    color: #FFFFFF;
}
#mo-dashboard-overview #mo-blocks-wrapper span.mo-block-number{
    font-size: 28px;
}
#mo-dashboard-action-items input.mo-btn{
    border-radius: 0px;
    height: 30px;
    text-transform: capitalize;
}
#mo-dashboard-action-items div.mo-action-item{
    font-size: 12px;
}
#mo-dashboard-location button,
#mo-dashboard-show-time button{
    width: 60%;
    height: 25px;
    border-radius: 0px;
}
#mo-dashboard-filter-location{
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}
.dropdown-menu{
    z-index: 3;
}
#mo-dashboard-filter-customize{
    height: auto;
    max-height: 700px;
    overflow-x: hidden;
}

#mo-dashboard-testdrive-inprogress input.mo-test-drives-inprogress-btn,
#mo-table-valuation-request-list input.mo-accept-valuate-btn
{
    width: 72px !important;
    margin-top: 8px;
}

#mo-table-valuation-pending-approval-list input.mo-approve-price-btn, input.mo-reject-price-btn, input.mo-approve-valuate-btn{
    margin-top:8px;
}

#mo-dashboard-testdrive-inprogress table.table,
#mo-dashboard-valuation-request table.table,
#mo-dashboard-valuation-pending table.table{
    padding: 0px;
}
/*
input.mo-btn-green.external-offer-bid-price-btn,
input.mo-btn-red.mo-external-offer-reject,
input.mo-btn-green.mo-accept-offer,
input.mo-btn-red.mo-reject-offer{
    margin-top: 2px;
    width: 100px !important;
    height: 30px !important;
}*/


/** SEARCH VEHICLE TEST DRIVE **/
#add-vehicle-form input#add-vehicle-btn{
    width: 240px;
}

/** MO-ADMIN SETTINGS GENERAL **/
#mo-settings-term-condition-form textarea{
    border-radius: 4px;
}
#mo-settings-term-condition-form .form-control[readonly],
#mo-term-and-condition-popup .form-control[readonly]{
    background-color: #FFFFFF;
}
#mo-settings-term-condition-form input#mo-save-term-condition{
    width: 240px;
    height: 40px;
}
#mo-term-condition-agree-btn{
    height: 32px;
}
textarea#test-drive-term-condition{
    overflow: scroll;
    height: 500px;
    width: 100%;
}

.vehicle_title {
    font-family: Avenir-Regular;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.38;
    color: #252525;
    margin-bottom: 16px;
}

.detail_row {
    font-family: Avenir-Regular;
    font-size: 16px;
    line-height: 1.88;
    color: #252525;
    text-transform: capitalize;
    font-weight: bold;
}

.detail_row .info {
    float: left;
    width: 100%;
    max-width: 180px;
}

.auction_status {
    font-family: Avenir-Regular;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.38;
    text-align: right;
    color: #252525;
    display: none;
}

.info_btn {
    width: 152px;
    height: 32px;
    background-color: #ffaa00;
    float: right;
    font-family: Avenir-Bold;
    font-size: 13px;
    text-align: center;
    color: #252525 !important;
    text-transform: uppercase;
    line-height: 32px;
    margin-top: 8px;
}

.bidding_history {
    font-family: Avenir-Regular;
    font-size: 16px;
    line-height: 1.38;
    color: #252525;
    display: none;
}

.history-wrapper {
    margin-bottom: 50px;
}

.wish-icon {
    color: #ffaa00;
}