body {
    margin: 0;
    padding:0 0 30px 0;
    background-color: #eeeeee;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 20px;
    width: 705px;
    margin: 0 auto;
}

#header {
    width: 100%;
    text-align: center;
    background: #252525;
}

#header img {
    padding: 16px 0;
}

#wrapper {
    width: 655px;
    margin: 0 auto;
}

.block {
    border-radius: 4px;
    background-color: #ffffff;
    border-top: solid 2px rgba(218, 218, 218, 0.7);
    margin-top: 15px;
    padding: 10px 24px;
}

.block h2 {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    color: #ffaa00;
    text-transform: uppercase;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
    text-align: right;
}

.bold-text {
    font-weight: bold;
    color: #132b28;
}

.bill-to {
    margin-top: 10px;
}

.bill-detail {
    font-weight: 500;
    color: #132b28;
    margin-top: 8px;
}

.bill-wrapper {
    margin-left: 22px;
}

.invoice {
    border-top: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    margin-top: 24px;
}

.invoice .col_1 {
    text-indent: 22px;
    width: 172px;
    float: left;
}

.row {
    padding: 5px 0;
    border-bottom: 1px solid #d8d8d8;
}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0;
}

.invoice .col_2 {
    width: 320px;
    float: left;
}

.invoice .col_3 {
    float: right;
    text-align: right;
}


.vin {
    margin-top: 32px;
    margin-bottom: 16px;
}

.price-label {
    text-align: right;
}

.price-table .row {
    margin-bottom: 3px
}

.price-col {
    text-align: right;
}

.term {
    font-size: 18px;
}